/*工具按钮*/
QToolButton
{
    border:none;
}

QToolButton:hover
{
    color:white;
    border:1px solid #ffffff;
    background-color:#ffffff;
}

QToolButton::menu-button
{
    background-color:transparent;
}